In [1]:
import modin.pandas as pd
import numpy as np

frame_data = np.random.randint(0, 100, size=(2**10, 2**8))
df = pd.DataFrame(frame_data)

2019-07-02 11:25:05,908	INFO node.py:497 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-07-02_11-25-05_908295_788/logs.
2019-07-02 11:25:06,019	INFO services.py:409 -- Waiting for redis server at 127.0.0.1:29555 to respond...
2019-07-02 11:25:06,135	INFO services.py:409 -- Waiting for redis server at 127.0.0.1:11636 to respond...
2019-07-02 11:25:06,137	INFO services.py:806 -- Starting Redis shard with 3.34 GB max memory.
2019-07-02 11:25:06,153	INFO node.py:511 -- Process STDOUT and STDERR is being redirected to /tmp/ray/session_2019-07-02_11-25-05_908295_788/logs.
2019-07-02 11:25:06,155	WARNING services.py:1318 -- WARNING: The object store is using /tmp instead of /dev/shm because /dev/shm has only 8081645568 bytes available. This may slow down performance! You may be able to free up space by deleting files in /dev/shm or terminating any running plasma_store_server processes. If you are inside a Docker container, you may need to pass an argument with the flag '--shm-size' to 'docker run'.
2019-07-02 11:25:06,160	INFO services.py:1441 -- Starting the Plasma object store with 10.0 GB memory using /tmp.
UserWarning: Distributing <class 'numpy.ndarray'> object. This may take some time.

In [3]:
df.head()

,0,1,2,3,4,5,6,7,8,9,...,246,247,248,249,250,251,252,253,254,255
0,3,62,89,35,80,51,8,64,91,6,...,73,85,48,58,4,54,32,82,53,5
1,42,87,22,97,78,36,30,75,32,60,...,35,98,85,80,28,70,54,3,78,36
2,19,67,18,92,41,94,87,14,3,54,...,24,51,49,68,56,63,28,91,92,5
3,71,54,68,53,11,22,31,7,58,66,...,41,51,87,0,67,23,61,69,97,36
4,19,92,2,16,87,24,76,26,99,74,...,30,31,35,65,95,72,98,18,18,50